extends layout/default

block primary
	if requestor.params.length
		section.main
			header
				h1 Showme
				if (requestor.referer && !requestor.isCache())
					div.referer
						b Referer:
						span= requestor.referer
				if requestor.isCache()
					div.notice
						b Saved request
			main
				table
					thead
						tr
							th Name
							th Value
					tbody
						each param in requestor.params
							tr
								th.name(data-type=param.type)= param.name
									small :
								if typeof param.value == 'string'
									td.value.type-single= param.value
								else
									td.value.type-multi
										table
											each val,key in param.value
												tr
													th
														small &nbsp;&nbsp;#{param.name}[
														| #{key}
														small ]:
													td= val
					if requestor.formAction
						tfoot
							tr.action
								td Form action
								td
									a(target="_blank" href=requestor.formAction)= requestor.formAction
			footer
				if !requestor.isCache()
					form(action="/save" enctype="multipart/form-data" method="post")
						input(type="hidden" name="serialised" value=requestor.getSerialised())
						input(type="hidden" name="hash" value=requestor.getHash())
						button(type="submit") Share
				a(href="https://aurer.co.uk" target="_blank") &copy;aurer #{new Date().getFullYear()}
				a(href="https://github.com/aurer/showme" target="_blank") Github
	else
		section.intro
			h1 Showme
			p Direct a POST or 
				a(href="?Something=Like+this...") GET
				|  request here to inspect it's values.
			if showmeGetScript && showmeFormsScript
				p Add these bookmarklets by dragging them to your bookmarks:
				p
					if showmeFormsScript
						a.bookmarklet(href=showmeFormsScript) Showme Forms
					if showmeGetScript
						a.bookmarklet(href=showmeGetScript) Showme Get
